{% extends 'homes/base.html' %}

{% load static %}


{% block title %}
My Cart - {{request.user.first_name}} {{request.user.last_name}}
{% endblock title  %}


{% block upperbody %}

{% endblock upperbody %}


{% block lowerbody %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="p-5 m-5">
                    <form action="{% url 'paid' %}" method="POST">
                        {% csrf_token %}
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ key }}"
                        data-description="Checkout HomeDecors" data-amount="{{total}}" data-locale="auto">
                    </script>    
                    </form>
                    <div class="cover-btm"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock lowerbody %}