{% extends 'homes/base.html' %}
{% load static %}

{% block title %}
    Book a visit!
{% endblock title  %}
    

{% block lowerbody %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="m-5 p-5">
                       <div class="alert alert-info">
                           {{message}}
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock lowerbody %}
    